nav a {
    border: 1px solid gray;
    margin: 1em;
    padding: 1em;
    background-color: teal;
    color: whitesmoke;
}

h1 {
    text-align: center;
    margin: 1.5em;
    text-transform: capitalize;
}